## 1.Importation de la base de donnees

In [45]:
#Importer les bibliotheques requises
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [46]:
#afficher toute les variables du dataframe
pd.set_option('display.max_columns', None)

In [47]:
path = "/Users/thiarakante/Documents/Databeez/prediction_parcours/src/data/section_normal"

list_path = os.listdir(path)
list_path

['20-21_L1GBM_S1_NORMALE.xlsx',
 '18-19_L1GBM_S2_NORMALE.xlsx',
 '19-20_L1GBM_S1_NORMALE.xlsx',
 '23-24_L1GBM_S1_NORMALE.xlsx',
 '19-20_L2GBM_S2_NORMALE.xls',
 '18-19_L1GBM_S1_NORMALE.xlsx',
 '23-24_L2GBM_S1_NORMALE.xls',
 '22-23_L1GBM_S2_NORMALE.xls',
 '20-21_L2GBM_S2_NORMALE.xls',
 '22-23_L2GBM_S1_NORMALE.xls',
 '21-22_L3GBM_S1_NORMALE.xls',
 '23-24_L1GBM_S2_NORMALE.xls',
 '21-22_L1GBM_S2_NORMALE.xls',
 '23-24_L3GBM_S1_NORMALE.xls',
 '20-21_L3GBM_S2_NORMALE.xls',
 '22-23_L3GBM_S1_NORMALE.xls',
 '21-22_L2GBM_S1_NORMALE.xls',
 '21-22_L2GBM_S2_NORMALE.xls',
 '22-23_L3GBM_S2_NORMALE.xls',
 '21-22_L1GBM_S1_NORMALE.xlsx',
 '20-21_L3GBM_S1_NORMALE.xls',
 '23-24_L3GBM_S2_NORMALE.xls',
 '19-20_L1GBM_S2_NORMALE.xls',
 '21-22_L3GBM_S2_NORMALE.xls',
 '22-23_L2GBM_S2_NORMALE.xls',
 '20-21_L1GBM_S2_NORMALE.xls',
 '20-21_L2GBM_S1_NORMALE.xls',
 '23-24_L2GBM_S2_NORMALE.xls',
 '22-23_L1GBM_S1_NORMALE.xlsx',
 '19-20_L2GBM_S1_NORMALE.xls']

In [48]:
# unite = {"UE1":["Licence-GBM-111 Sciences fondamentales I","Licence-GBM-121 Sciences fondamentales  II ","Licence-GBM-231 Sciences biologiques III","Licence-GBM-241 Organisation et méthodes de maintenance I","Licence-GBM-351 Instrumentation biomédicale II","Licence-GBM-361 Développement personnel"],
#          "UE2":["Licence-GBM-112 Sciences chimiques","Licence-GBM-122 Informatique I","Licence-GBM-232 HQSE","Licence-GBM-242 Biophysique II","Licence-GBM-352 Organisation et méthodes de maintenance II","Licence-GBM-362 Communication III"],
#          "UE3":["Licence-GBM-113 Sciences biologiques I","Licence-GBM-123 Electricité-Electronique II","Licence-GBM-233 Electricité-Electronique III","Licence-GBM-243 Gestion des risques","Licence-GBM-353 Maintenance des systèmes","Licence-GBM-363 Stage"],
#          "UE4":["Licence-GBM-114 Electricité-Electronique I","Licence-GBM-124 Sciences biologiques II","Licence-GBM-234 Automatismes & Informatique industrielle","Licence-GBM-244 Automatique - Système embarqué","Licence-GBM-354 Traitement des signaux"],
#          "UE5":["Licence-GBM-115 Mécanique I","Licence-GBM-125 Mécanique II","Licence-GBM-235 Technologies biomédicales","Licence-GBM-245 Informatique II","Licence-GBM-355 Maintenance biomédicale","Licence-GBM-245 Informatique II"],
#          "UE6":["Licence-GBM-116 Communication I","Licence-GBM-126 Communication II","Licence-GBM-236 Biophysique I","Licence-GBM-356 Techniques d'imagerie","Licence-GBM-246 Instrumentation biomédicale I"]}

In [49]:
unite = {
   "Sciences_fondamentales": [
        "Licence-GBM-111 Sciences fondamentales I",
        "Licence-GBM-121 Sciences fondamentales II",
        "Licence-GBM-112 Sciences chimiques"
    ],
    "Biologie_Biophysique": [
        "Licence-GBM-113 Sciences biologiques I",
        "Licence-GBM-124 Sciences biologiques II",
        "Licence-GBM-231 Sciences biologiques III",
        "Licence-GBM-236 Biophysique I",
        "Licence-GBM-242 Biophysique II",
        "Licence-GBM-356 Techniques d'imagerie"

    ],
    "Informatique": [
        "Licence-GBM-122 Informatique I",
        "Licence-GBM-245 Informatique II",
        "Licence-GBM-234 Automatismes & Informatique industrielle"
    ],
    "Electronique_Automatique": [
        "Licence-GBM-114 Electricité-Electronique I",
        "Licence-GBM-123 Electricité-Electronique II",
        "Licence-GBM-233 Electricité-Electronique III",
        "Licence-GBM-244 Automatique - Système embarqué",
        "Licence-GBM-354 Traitement des signaux"
    ],
    "Maintenance_Systèmes": [
        "Licence-GBM-241 Organisation et méthodes de maintenance I",
        "Licence-GBM-352 Organisation et méthodes de maintenance II",
        "Licence-GBM-353 Maintenance des systèmes",
        "Licence-GBM-355 Maintenance biomédicale"
    ],
    "Biomédical": [
        "Licence-GBM-235 Technologies biomédicales",
        "Licence-GBM-246 Instrumentation biomédicale I",
        "Licence-GBM-351 Instrumentation biomédicale II"
    ],
    "Communication": [
        "Licence-GBM-116 Communication I",
        "Licence-GBM-126 Communication II",
        "Licence-GBM-362 Communication III",
        "Licence-GBM-361 Développement personnel"
    ],
       "Mécanique": [
        "Licence-GBM-115 Mécanique I",
        "Licence-GBM-125 Mécanique II"
    ],
    "Gestion_Risques_HQSE": [
        "Licence-GBM-232 HQSE",
        "Licence-GBM-243 Gestion des risques"
    ],
    "Imagerie": [
        "Licence-GBM-356 Techniques d'imagerie"
    ]
  #  "Stage": [
  #       "Licence-GBM-363 Stage"
  #   ],
}

In [50]:
#Fonction pour remplacer les noms de colonnes
def replace_col_names(df, unite):
    new_cols = []
    ue_count = {}  # Dictionnaire pour compter le nombre de colonnes par UE

    for col in df.columns:
        found = False
        for ue, col_names in unite.items():
            if col in col_names:
                # Compter combien de fois cette UE a déjà été utilisée
                ue_count[ue] = ue_count.get(ue, 0) + 1
                # Ajouter un suffixe numérique si nécessaire
                new_col = f"{ue}_{ue_count[ue]}" if ue_count[ue] > 1 else ue
                new_cols.append(new_col)
                found = True
                break
        if not found:
            new_cols.append(col)  # Conserver le nom d'origine si la colonne n'est pas dans le dictionnaire
    df.columns = new_cols

    return df

In [51]:
# #iimport ce fichier '/content/drive/MyDrive/databeez/DATA_PARCOURS_ETU/section_normal/20-21_L1GBM_S2_NORMALE.xls'
# data = pd.read_excel('/content/drive/MyDrive/databeez/DATA_PARCOURS_ETU/section_normal/20-21_L1GBM_S2_NORMALE.xls').dropna(axis=0, how='all')
# data.columns

In [52]:
semester_mapping = {
    'L1GBM': {'S1': 'S1', 'S2': 'S2'},
    'L2GBM': {'S1': 'S3', 'S2': 'S4'},
    'L3GBM': {'S1': 'S5', 'S2': 'S6'},
}

def extract_semester_from_filename(filename):
    # Exemple: '/content/drive/.../20-21_L1GBM_S2_NORMALE.xls'
    filename_only = filename.split("/")[-1].replace(".xls", "")  # On récupère juste '20-21_L1GBM_S2_NORMALE'
    parts = filename_only.split("_")  # ['20-21', 'L1GBM', 'S2', 'NORMALE']

    niveau = parts[1]         # ex: L1GBM
    semestre_brut = parts[2]  # ex: S2

    if niveau in semester_mapping and semestre_brut in semester_mapping[niveau]:
        return semester_mapping[niveau][semestre_brut]
    return "Inconnu"

In [53]:
# for file in list_path:
#   annee = file.split("_")[0]
#   semestre = file.split("_")[2]
#   print(annee,semestre)

In [54]:
concatenated_df = pd.DataFrame()
# Create an empty list to store dataframes
df_list = []

for file in list_path:
    if file.endswith((".xlsx", ".xls")):
        file_path = os.path.join(path, file)
        df = pd.read_excel(file_path).dropna(axis=0, how='all')

        # Appliquer la fonction pour renommer les colonnes selon les catégories
        df = replace_col_names(df, unite)

        # Conserver uniquement les colonnes des nouvelles catégories + colonnes d'identité
        categories = list(unite.keys())
        colonnes_a_garder = ['N°', 'Prénom(s)', 'Nom'] + categories
        df = df.loc[:, df.columns.intersection(colonnes_a_garder)]

       # Ajouter la colonne Semestre
        df["Semestre"] = extract_semester_from_filename(file)
        df["Année"] = file.split("_")[0]


        # Add the processed dataframe to the list
        df_list.append(df)

# Concatenate all dataframes in the list outside the loop
concatenated_df = pd.concat(df_list, ignore_index=True)

concatenated_df.fillna(0, inplace=True)


# Aperçu du DataFrame final
concatenated_df.head()

,N°,Prénom(s),Nom,Sciences_fondamentales,Biologie_Biophysique,Electronique_Automatique,Mécanique,Communication,Semestre,Année,Maintenance_Systèmes,Gestion_Risques_HQSE,Informatique,Biomédical
0,20200A3TT,Sokhna,BARRY,10.83,14.28,14.00,11.33,11.67,S1,20-21,0.0,0.0,0.0,0.0
1,201406N1T,Amadou Lamine,BIAYE,9.33,9.53,12.75,10.00,8.17,S1,20-21,0.0,0.0,0.0,0.0
2,20200A4W3,Serigne Saliou,CISSE,13.42,16.08,12.20,15.43,15.83,S1,20-21,0.0,0.0,0.0,0.0
3,20200A5A2,Mame Fatou Sylberia,DIACK,10.67,14.58,13.04,13.25,17.00,S1,20-21,0.0,0.0,0.0,0.0
4,201908XW9,Luce Claire Marième,DIAWARA,6.50,14.39,11.56,10.59,12.17,S1,20-21,0.0,0.0,0.0,0.0

In [55]:
concatenated_df['Semestre'].unique()

array(['S1', 'S2', 'S4', 'S3', 'S5', 'S6'], dtype=object)

In [56]:
concatenated_df.isnull().sum()

N°                          0
Prénom(s)                   0
Nom                         0
Sciences_fondamentales      0
Biologie_Biophysique        0
Electronique_Automatique    0
Mécanique                   0
Communication               0
Semestre                    0
Année                       0
Maintenance_Systèmes        0
Gestion_Risques_HQSE        0
Informatique                0
Biomédical                  0
dtype: int64

In [57]:
concatenated_df.head(10)

,N°,Prénom(s),Nom,Sciences_fondamentales,Biologie_Biophysique,Electronique_Automatique,Mécanique,Communication,Semestre,Année,Maintenance_Systèmes,Gestion_Risques_HQSE,Informatique,Biomédical
0,20200A3TT,Sokhna,BARRY,10.83,14.28,14.00,11.33,11.67,S1,20-21,0.0,0.0,0.0,0.0
1,201406N1T,Amadou Lamine,BIAYE,9.33,9.53,12.75,10.00,8.17,S1,20-21,0.0,0.0,0.0,0.0
2,20200A4W3,Serigne Saliou,CISSE,13.42,16.08,12.20,15.43,15.83,S1,20-21,0.0,0.0,0.0,0.0
3,20200A5A2,Mame Fatou Sylberia,DIACK,10.67,14.58,13.04,13.25,17.00,S1,20-21,0.0,0.0,0.0,0.0
4,201908XW9,Luce Claire Marième,DIAWARA,6.50,14.39,11.56,10.59,12.17,S1,20-21,0.0,0.0,0.0,0.0
5,20200A4V4,Fatou Kiné Zohra,DIENG,13.00,15.10,16.09,13.47,16.33,S1,20-21,0.0,0.0,0.0,0.0
6,2019097TP,Yaye Nasse,DIEYE,5.50,10.23,11.95,12.00,10.67,S1,20-21,0.0,0.0,0.0,0.0
7,202009X6Y,Fatou,DIOUF,12.75,14.71,12.66,13.55,15.02,S1,20-21,0.0,0.0,0.0,0.0
8,20200A595,Mohamed,DOUCOURE,11.75,10.56,12.20,15.22,12.84,S1,20-21,0.0,0.0,0.0,0.0
9,201909I27,Milavo Doévi Aaron,DWEGGAH,10.92,16.34,12.63,10.25,15.00,S1,20-21,0.0,0.0,0.0,0.0

In [58]:
#rename colonne
concatenated_df.rename(columns={'N°': 'numero etudiant'}, inplace=True)
concatenated_df.rename(columns={'Prénom(s)': 'prenoms'}, inplace=True)
concatenated_df.rename(columns={'Nom': 'nom'}, inplace=True)
df1 = concatenated_df.copy()

In [59]:
#supprime Semestre
df1["Semestre"].unique()

array(['S1', 'S2', 'S4', 'S3', 'S5', 'S6'], dtype=object)

In [60]:
#importer le fichier df2
path = "/Users/thiarakante/Documents/Databeez/prediction_parcours/src/data/df_decision.xlsx"
#drop les colonne UE1	UE2	UE3	UE4	UE5	UE6
Df2 = pd.read_excel(path)
Df2 = pd.read_excel(path).drop(columns=["UE1","UE2","UE3","UE4","UE5","UE6","validation","Compensation"])

Df2.head()

,numero etudiant,nom,prenoms,lieu_naissance,date_naissance,Moyenne generale,Promo,classe,Semestre,Decision_semestriel
0,201104J21,NDOYE,Manèkh,FATICK,1992-02-23,12.76,21-22,L1GBM,S1,valide
1,201104J21,NDOYE,Manèkh,FATICK,1992-02-23,11.73,21-22,L1GBM,S2,Non valide
2,201104J21,NDOYE,Manèkh,FATICK,1992-02-23,11.47,22-23,L2GBM,S3,Non valide
3,201104J21,NDOYE,Manèkh,FATICK,1992-02-23,12.46,22-23,L2GBM,S4,Non valide
4,201104J21,NDOYE,Manèkh,FATICK,1992-02-23,14.17,23-24,L3GBM,S5,valide

In [61]:
# df1_subset = df1[['numero etudiant','nom','prenoms']]
# Df2_sub = Df2[['numero etudiant','nom','prenoms']]

In [62]:
# print(df1_subset.duplicated().sum())
# print(Df2_sub.duplicated().sum())

In [63]:
#concatener df1 et df2
df = pd.merge(df1, Df2, on=['numero etudiant','nom','prenoms','Semestre'], how='inner')
df.head()

,numero etudiant,prenoms,nom,Sciences_fondamentales,Biologie_Biophysique,Electronique_Automatique,Mécanique,Communication,Semestre,Année,Maintenance_Systèmes,Gestion_Risques_HQSE,Informatique,Biomédical,lieu_naissance,date_naissance,Moyenne generale,Promo,classe,Decision_semestriel
0,20200A3TT,Sokhna,BARRY,10.83,14.28,14.00,11.33,11.67,S1,20-21,0.0,0.0,0.0,0.0,DAKAR,2001-10-25,12.57,20-21,L1GBM,valide
1,201406N1T,Amadou Lamine,BIAYE,9.33,9.53,12.75,10.00,8.17,S1,20-21,0.0,0.0,0.0,0.0,DAKAR,1989-04-23,9.33,20-21,L1GBM,Non valide
2,201406N1T,Amadou Lamine,BIAYE,9.33,9.53,12.75,10.00,8.17,S1,20-21,0.0,0.0,0.0,0.0,DAKAR,1989-04-23,10.95,21-22,L1GBM,valide
3,20200A4W3,Serigne Saliou,CISSE,13.42,16.08,12.20,15.43,15.83,S1,20-21,0.0,0.0,0.0,0.0,GAE,2002-11-30,14.25,20-21,L1GBM,valide
4,20200A5A2,Mame Fatou Sylberia,DIACK,10.67,14.58,13.04,13.25,17.00,S1,20-21,0.0,0.0,0.0,0.0,DAKAR,2000-05-07,13.40,20-21,L1GBM,valide

In [64]:
# Fonction pour calculer l'âge
def calculate_age(date_naissance, annee):
    try:
        # Extraire la dernière année de la plage (par exemple, '21' dans '20-21')
        annee_split = annee.split('-')
        last_annee = int(annee_split[-1])

        # Ajouter 2000 pour obtenir l'année complète (par exemple, 2021)
        full_year = 2000 + last_annee
    except (ValueError, AttributeError, IndexError):
        # Gérer les cas où 'annee' n'est pas au format attendu
        return np.nan

    # Vérifier si 'date_naissance' est valide
    if pd.isna(date_naissance):
        return np.nan

    # Calculer l'âge
    age = full_year - date_naissance.year
    return age

# Appliquer la fonction pour créer une nouvelle colonne 'age'
df['age'] = df.apply(lambda row: calculate_age(row['date_naissance'], row['Année']), axis=1)

# Afficher le DataFrame avec la nouvelle colonne 'age'
df.head()

,numero etudiant,prenoms,nom,Sciences_fondamentales,Biologie_Biophysique,Electronique_Automatique,Mécanique,Communication,Semestre,Année,Maintenance_Systèmes,Gestion_Risques_HQSE,Informatique,Biomédical,lieu_naissance,date_naissance,Moyenne generale,Promo,classe,Decision_semestriel,age
0,20200A3TT,Sokhna,BARRY,10.83,14.28,14.00,11.33,11.67,S1,20-21,0.0,0.0,0.0,0.0,DAKAR,2001-10-25,12.57,20-21,L1GBM,valide,20
1,201406N1T,Amadou Lamine,BIAYE,9.33,9.53,12.75,10.00,8.17,S1,20-21,0.0,0.0,0.0,0.0,DAKAR,1989-04-23,9.33,20-21,L1GBM,Non valide,32
2,201406N1T,Amadou Lamine,BIAYE,9.33,9.53,12.75,10.00,8.17,S1,20-21,0.0,0.0,0.0,0.0,DAKAR,1989-04-23,10.95,21-22,L1GBM,valide,32
3,20200A4W3,Serigne Saliou,CISSE,13.42,16.08,12.20,15.43,15.83,S1,20-21,0.0,0.0,0.0,0.0,GAE,2002-11-30,14.25,20-21,L1GBM,valide,19
4,20200A5A2,Mame Fatou Sylberia,DIACK,10.67,14.58,13.04,13.25,17.00,S1,20-21,0.0,0.0,0.0,0.0,DAKAR,2000-05-07,13.40,20-21,L1GBM,valide,21

In [65]:
df["Promo"].unique()

array(['20-21', '21-22', '19-20', '18-19', '23-24', '22-23'], dtype=object)

In [66]:

df = df.sort_values(by=['numero etudiant','Semestre'], ascending=True)
#drop les colonnne romo	classe
# df = df.drop(columns=["Promo"	,"classe"])



df.head(20)

,numero etudiant,prenoms,nom,Sciences_fondamentales,Biologie_Biophysique,Electronique_Automatique,Mécanique,Communication,Semestre,Année,Maintenance_Systèmes,Gestion_Risques_HQSE,Informatique,Biomédical,lieu_naissance,date_naissance,Moyenne generale,Promo,classe,Decision_semestriel,age
341,201104J21,Manèkh,NDOYE,8.96,13.51,13.45,14.29,10.84,S1,21-22,0.00,0.00,0.00,0.00,FATICK,1992-02-23,12.76,21-22,L1GBM,valide,30
245,201104J21,Manèkh,NDOYE,0.00,13.50,12.47,10.00,14.25,S2,21-22,0.00,0.00,10.78,0.00,FATICK,1992-02-23,11.73,21-22,L1GBM,Non valide,30
191,201104J21,Manèkh,NDOYE,0.00,10.43,10.00,0.00,0.00,S3,22-23,0.00,12.75,12.45,16.00,FATICK,1992-02-23,11.47,22-23,L2GBM,Non valide,31
422,201104J21,Manèkh,NDOYE,0.00,13.25,5.75,0.00,0.00,S4,22-23,14.80,16.00,13.25,13.75,FATICK,1992-02-23,12.46,22-23,L2GBM,Non valide,31
257,201104J21,Manèkh,NDOYE,0.00,14.50,11.59,0.00,0.00,S5,23-24,16.33,0.00,0.00,14.42,FATICK,1992-02-23,14.17,23-24,L3GBM,valide,32
369,201104J21,Manèkh,NDOYE,0.00,0.00,0.00,0.00,15.17,S6,23-24,0.00,0.00,0.00,0.00,FATICK,1992-02-23,16.90,23-24,L3GBM,Non valide,32
14,201305QC8,Cheikh,GAYE,8.47,10.29,10.70,12.14,11.50,S1,20-21,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,9.18,18-19,L1GBM,Non valide,29
15,201305QC8,Cheikh,GAYE,8.47,10.29,10.70,12.14,11.50,S1,20-21,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,10.38,19-20,L1GBM,valide,29
16,201305QC8,Cheikh,GAYE,8.47,10.29,10.70,12.14,11.50,S1,20-21,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,10.38,20-21,L1GBM,valide,29
51,201305QC8,Cheikh,GAYE,8.47,10.29,10.70,12.14,11.50,S1,19-20,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,9.18,18-19,L1GBM,Non valide,28
52,201305QC8,Cheikh,GAYE,8.47,10.29,10.70,12.14,11.50,S1,19-20,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,10.38,19-20,L1GBM,valide,28
53,201305QC8,Cheikh,GAYE,8.47,10.29,10.70,12.14,11.50,S1,19-20,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,10.38,20-21,L1GBM,valide,28
110,201305QC8,Cheikh,GAYE,8.47,8.34,10.70,12.14,8.84,S1,18-19,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,9.18,18-19,L1GBM,Non valide,27
111,201305QC8,Cheikh,GAYE,8.47,8.34,10.70,12.14,8.84,S1,18-19,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,10.38,19-20,L1GBM,valide,27
112,201305QC8,Cheikh,GAYE,8.47,8.34,10.70,12.14,8.84,S1,18-19,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,10.38,20-21,L1GBM,valide,27
29,201305QC8,Cheikh,GAYE,8.47,8.34,10.70,12.14,8.84,S2,18-19,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,9.31,19-20,L1GBM,Non valide,27
30,201305QC8,Cheikh,GAYE,8.47,8.34,10.70,12.14,8.84,S2,18-19,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,9.18,18-19,L1GBM,Non valide,27
378,201305QC8,Cheikh,GAYE,0.00,11.59,11.08,10.00,11.00,S2,19-20,0.00,0.00,10.17,0.00,PIKINE,1992-07-22,9.31,19-20,L1GBM,Non valide,28
379,201305QC8,Cheikh,GAYE,0.00,11.59,11.08,10.00,11.00,S2,19-20,0.00,0.00,10.17,0.00,PIKINE,1992-07-22,9.18,18-19,L1GBM,Non valide,28
442,201305QC8,Cheikh,GAYE,0.00,8.04,12.74,0.00,0.00,S3,20-21,0.00,9.17,10.00,11.25,PIKINE,1992-07-22,9.75,20-21,L2GBM,Non valide,29

In [67]:
df[df["numero etudiant"] == "20230C13S"]

,numero etudiant,prenoms,nom,Sciences_fondamentales,Biologie_Biophysique,Electronique_Automatique,Mécanique,Communication,Semestre,Année,Maintenance_Systèmes,Gestion_Risques_HQSE,Informatique,Biomédical,lieu_naissance,date_naissance,Moyenne generale,Promo,classe,Decision_semestriel,age
84,20230C13S,Freddy Amath,SENGHOR,8.0,12.88,11.90,11.17,13.55,S1,23-24,0.0,0.0,0.00,0.0,DAKAR,2005-09-20,11.14,23-24,L1GBM,valide,19
230,20230C13S,Freddy Amath,SENGHOR,0.0,12.17,10.33,6.55,11.17,S2,23-24,0.0,0.0,8.92,0.0,DAKAR,2005-09-20,8.32,23-24,L1GBM,Non valide,19

In [68]:
# !pip install ydata-profiling
# import pandas as pd
# from ydata_profiling import ProfileReport

# # Générer le rapport
# profile = ProfileReport(df, explorative=False )

# # Afficher le rapport dans le notebook
# profile.to_notebook_iframe()

In [69]:
df_shift = df.copy()

In [70]:
df_shift["decision_semestrielle_shifted"] =df_shift.groupby(["numero etudiant"])["Decision_semestriel"].shift(1)
df_shift.head(15)

,numero etudiant,prenoms,nom,Sciences_fondamentales,Biologie_Biophysique,Electronique_Automatique,Mécanique,Communication,Semestre,Année,Maintenance_Systèmes,Gestion_Risques_HQSE,Informatique,Biomédical,lieu_naissance,date_naissance,Moyenne generale,Promo,classe,Decision_semestriel,age,decision_semestrielle_shifted
341,201104J21,Manèkh,NDOYE,8.96,13.51,13.45,14.29,10.84,S1,21-22,0.00,0.00,0.00,0.00,FATICK,1992-02-23,12.76,21-22,L1GBM,valide,30,NaN
245,201104J21,Manèkh,NDOYE,0.00,13.50,12.47,10.00,14.25,S2,21-22,0.00,0.00,10.78,0.00,FATICK,1992-02-23,11.73,21-22,L1GBM,Non valide,30,valide
191,201104J21,Manèkh,NDOYE,0.00,10.43,10.00,0.00,0.00,S3,22-23,0.00,12.75,12.45,16.00,FATICK,1992-02-23,11.47,22-23,L2GBM,Non valide,31,Non valide
422,201104J21,Manèkh,NDOYE,0.00,13.25,5.75,0.00,0.00,S4,22-23,14.80,16.00,13.25,13.75,FATICK,1992-02-23,12.46,22-23,L2GBM,Non valide,31,Non valide
257,201104J21,Manèkh,NDOYE,0.00,14.50,11.59,0.00,0.00,S5,23-24,16.33,0.00,0.00,14.42,FATICK,1992-02-23,14.17,23-24,L3GBM,valide,32,Non valide
369,201104J21,Manèkh,NDOYE,0.00,0.00,0.00,0.00,15.17,S6,23-24,0.00,0.00,0.00,0.00,FATICK,1992-02-23,16.90,23-24,L3GBM,Non valide,32,valide
14,201305QC8,Cheikh,GAYE,8.47,10.29,10.70,12.14,11.50,S1,20-21,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,9.18,18-19,L1GBM,Non valide,29,NaN
15,201305QC8,Cheikh,GAYE,8.47,10.29,10.70,12.14,11.50,S1,20-21,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,10.38,19-20,L1GBM,valide,29,Non valide
16,201305QC8,Cheikh,GAYE,8.47,10.29,10.70,12.14,11.50,S1,20-21,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,10.38,20-21,L1GBM,valide,29,valide
51,201305QC8,Cheikh,GAYE,8.47,10.29,10.70,12.14,11.50,S1,19-20,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,9.18,18-19,L1GBM,Non valide,28,valide
52,201305QC8,Cheikh,GAYE,8.47,10.29,10.70,12.14,11.50,S1,19-20,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,10.38,19-20,L1GBM,valide,28,Non valide
53,201305QC8,Cheikh,GAYE,8.47,10.29,10.70,12.14,11.50,S1,19-20,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,10.38,20-21,L1GBM,valide,28,valide
110,201305QC8,Cheikh,GAYE,8.47,8.34,10.70,12.14,8.84,S1,18-19,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,9.18,18-19,L1GBM,Non valide,27,valide
111,201305QC8,Cheikh,GAYE,8.47,8.34,10.70,12.14,8.84,S1,18-19,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,10.38,19-20,L1GBM,valide,27,Non valide
112,201305QC8,Cheikh,GAYE,8.47,8.34,10.70,12.14,8.84,S1,18-19,0.00,0.00,0.00,0.00,PIKINE,1992-07-22,10.38,20-21,L1GBM,valide,27,valide

In [71]:
df_shift[df_shift["numero etudiant"]== "20230C13S"]

,numero etudiant,prenoms,nom,Sciences_fondamentales,Biologie_Biophysique,Electronique_Automatique,Mécanique,Communication,Semestre,Année,Maintenance_Systèmes,Gestion_Risques_HQSE,Informatique,Biomédical,lieu_naissance,date_naissance,Moyenne generale,Promo,classe,Decision_semestriel,age,decision_semestrielle_shifted
84,20230C13S,Freddy Amath,SENGHOR,8.0,12.88,11.90,11.17,13.55,S1,23-24,0.0,0.0,0.00,0.0,DAKAR,2005-09-20,11.14,23-24,L1GBM,valide,19,NaN
230,20230C13S,Freddy Amath,SENGHOR,0.0,12.17,10.33,6.55,11.17,S2,23-24,0.0,0.0,8.92,0.0,DAKAR,2005-09-20,8.32,23-24,L1GBM,Non valide,19,valide

In [72]:
shift_data = df_shift.dropna(subset=['decision_semestrielle_shifted'])
print(shift_data.shape)
shift_data.head()

(402, 22)

,numero etudiant,prenoms,nom,Sciences_fondamentales,Biologie_Biophysique,Electronique_Automatique,Mécanique,Communication,Semestre,Année,Maintenance_Systèmes,Gestion_Risques_HQSE,Informatique,Biomédical,lieu_naissance,date_naissance,Moyenne generale,Promo,classe,Decision_semestriel,age,decision_semestrielle_shifted
245,201104J21,Manèkh,NDOYE,0.0,13.50,12.47,10.0,14.25,S2,21-22,0.00,0.00,10.78,0.00,FATICK,1992-02-23,11.73,21-22,L1GBM,Non valide,30,valide
191,201104J21,Manèkh,NDOYE,0.0,10.43,10.00,0.0,0.00,S3,22-23,0.00,12.75,12.45,16.00,FATICK,1992-02-23,11.47,22-23,L2GBM,Non valide,31,Non valide
422,201104J21,Manèkh,NDOYE,0.0,13.25,5.75,0.0,0.00,S4,22-23,14.80,16.00,13.25,13.75,FATICK,1992-02-23,12.46,22-23,L2GBM,Non valide,31,Non valide
257,201104J21,Manèkh,NDOYE,0.0,14.50,11.59,0.0,0.00,S5,23-24,16.33,0.00,0.00,14.42,FATICK,1992-02-23,14.17,23-24,L3GBM,valide,32,Non valide
369,201104J21,Manèkh,NDOYE,0.0,0.00,0.00,0.0,15.17,S6,23-24,0.00,0.00,0.00,0.00,FATICK,1992-02-23,16.90,23-24,L3GBM,Non valide,32,valide

In [73]:
#exporter f

In [74]:
#supprimer le prenoms,nom,Année,date_naissance,decision_semestrielle
shift_data = shift_data.drop(columns=['prenoms','nom','Année','date_naissance','Decision_semestriel','classe','Promo'])
shift_data.head()

,numero etudiant,Sciences_fondamentales,Biologie_Biophysique,Electronique_Automatique,Mécanique,Communication,Semestre,Maintenance_Systèmes,Gestion_Risques_HQSE,Informatique,Biomédical,lieu_naissance,Moyenne generale,age,decision_semestrielle_shifted
245,201104J21,0.0,13.50,12.47,10.0,14.25,S2,0.00,0.00,10.78,0.00,FATICK,11.73,30,valide
191,201104J21,0.0,10.43,10.00,0.0,0.00,S3,0.00,12.75,12.45,16.00,FATICK,11.47,31,Non valide
422,201104J21,0.0,13.25,5.75,0.0,0.00,S4,14.80,16.00,13.25,13.75,FATICK,12.46,31,Non valide
257,201104J21,0.0,14.50,11.59,0.0,0.00,S5,16.33,0.00,0.00,14.42,FATICK,14.17,32,Non valide
369,201104J21,0.0,0.00,0.00,0.0,15.17,S6,0.00,0.00,0.00,0.00,FATICK,16.90,32,valide

In [75]:
#renommer la colonne decision_semestrielle_shifted en decision_semestrielle
shift_data = shift_data.rename(columns={'decision_semestrielle_shifted': 'decision_semestrielle'})
shift_data.head(10)

,numero etudiant,Sciences_fondamentales,Biologie_Biophysique,Electronique_Automatique,Mécanique,Communication,Semestre,Maintenance_Systèmes,Gestion_Risques_HQSE,Informatique,Biomédical,lieu_naissance,Moyenne generale,age,decision_semestrielle
245,201104J21,0.00,13.50,12.47,10.00,14.25,S2,0.00,0.00,10.78,0.00,FATICK,11.73,30,valide
191,201104J21,0.00,10.43,10.00,0.00,0.00,S3,0.00,12.75,12.45,16.00,FATICK,11.47,31,Non valide
422,201104J21,0.00,13.25,5.75,0.00,0.00,S4,14.80,16.00,13.25,13.75,FATICK,12.46,31,Non valide
257,201104J21,0.00,14.50,11.59,0.00,0.00,S5,16.33,0.00,0.00,14.42,FATICK,14.17,32,Non valide
369,201104J21,0.00,0.00,0.00,0.00,15.17,S6,0.00,0.00,0.00,0.00,FATICK,16.90,32,valide
15,201305QC8,8.47,10.29,10.70,12.14,11.50,S1,0.00,0.00,0.00,0.00,PIKINE,10.38,29,Non valide
16,201305QC8,8.47,10.29,10.70,12.14,11.50,S1,0.00,0.00,0.00,0.00,PIKINE,10.38,29,valide
51,201305QC8,8.47,10.29,10.70,12.14,11.50,S1,0.00,0.00,0.00,0.00,PIKINE,9.18,28,valide
52,201305QC8,8.47,10.29,10.70,12.14,11.50,S1,0.00,0.00,0.00,0.00,PIKINE,10.38,28,Non valide
53,201305QC8,8.47,10.29,10.70,12.14,11.50,S1,0.00,0.00,0.00,0.00,PIKINE,10.38,28,valide

In [76]:
shift_data['Semestre'].unique()

array(['S2', 'S3', 'S4', 'S5', 'S6', 'S1'], dtype=object)

In [77]:
shift_data.isnull().sum()

numero etudiant             0
Sciences_fondamentales      0
Biologie_Biophysique        0
Electronique_Automatique    0
Mécanique                   0
Communication               0
Semestre                    0
Maintenance_Systèmes        0
Gestion_Risques_HQSE        0
Informatique                0
Biomédical                  0
lieu_naissance              0
Moyenne generale            0
age                         0
decision_semestrielle       0
dtype: int64

In [78]:
#supprimer les colonne age et lieu de naissance et la Moyenne generale 

shift_data = shift_data.drop(columns=['age', 'lieu_naissance'])

In [44]:
shift_data.to_excel('/Users/thiarakante/Documents/Databeez/prediction_parcours/src/data/shift_data.xlsx', index=False)